__pycache__
env/
.tox
/*.wdl
*.vcf*
/*.json
*.db
tmp/
womtool*
toilwdl_compiled.py
.coverage
htmlcov/
celery.log
bento_services.json
bento_wes/*.json
data/

cromwell-executions
cromwell-workflow-logs

# IDE stuff
.idea/*
*.swp
*.swo
.vscode/*

# Keep vscode debugger configuration
!.vscode/launch.json
