__pycache__
env/
.tox
/*.wdl
*.vcf*
/*.json
*.db
tmp/
womtool*
toilwdl_compiled.py
.coverage
htmlcov/
celery.log
chord_services.json
bento_wes/*.json

cromwell-executions
cromwell-workflow-logs

# IDE stuff
.idea/workspace.xml
.idea/dataSources*
.idea/rSettings.xml
*.swp
*.swo
.vscode/*

# Keep vscode debugger configuration
!.vscode/launch.json
